<!DOCTYPE html>
<html>
  <head>
    <title>ひぐらしのなく頃に祭2 収支記録ツール</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%= link_to 'ひぐらしのなく頃に祭2 収支記録ツール', root_path ,class:"navbar-brand"%>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item">
              <%= link_to 'グラフ', root_path ,class:"nav-link"%><span class="sr-only">(current)</span>
            </li>
            <li class="nav-item">
              <%= link_to '一撃へ', 'https://1geki.jp/slot/higurashi_2/' ,class:"nav-link"%><span class="sr-only">(current)</span>
            </li>
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class:"nav-link" %><span class="sr-only">(current)</span>
                </li>
                <li class="nav-item">
                  <%= link_to '登録する', new_result_path ,remote:true, class:"nav-link"%>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "新規登録", new_user_registration_path , class:"nav-link" %><span class="sr-only">(current)</span>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_user_session_path, class:"nav-link" %><span class="sr-only">(current)</span>
                </li>
              <% end %>
            
          </ul>
        </div>
      </nav>

    </header>
    <%= yield %>
  </body>
</html>